body, html {
  margin: 0 auto;
  width: 100%
}

.dropdown {
  margin: 10px;
}

.form-check {
  padding-left: 25px !important;
}

h2 {
  padding: 32px 0 0 24px;
}

h5 {
  padding: 10px;
}

hr {
  border-top: solid 3px #d7d7d7 !important;
}

.list {
  padding: 0 !important;
}

.map {
  background-color: salmon;
  height: 100vh;
  padding: 0;
}

.modal-content {
  border: none !important;
}

.modal-footer {
  background-color: white;
  border: none !important;
}

.modal-form {
  margin: 10px 0;
}

.report {
  color: white;
  background-color: #5cb5d4;
  padding: 10px !important;
}

.row {
  margin: 0 !important;
}

.save {
  background-color: #5cb5d4;
  color: white;
}

.sort {
  background-color: white;
  margin: 0 20px;
}

.stores {
  height: 230px;
}



* {
  color: #525252;
}
